:root {
    --text-color: #ffffff;
    --text-shade-color: #b1b1b1;
    --accent-color: #26bb8e;
    --accent-shade-color: #1c8666;
    --bg-color: #000000;
    --bg-light-color: #1b1b1b;

    --s-font-size: .8em;
    --base-font-size: 18px;
    --m-font-size: 1.33em;
    --x-font-size: 2em;
    --xl-font-size: 3em;
}

@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-Regular.ttf");
    font-weight: 400;
}

::selection {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

::-moz-selection {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

::-webkit-scrollbar {
    width: .42vw;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-light-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

body {
    margin: 0;
    padding: .52vw .52vw;
    font-family: "Unbounded", sans-serif;
    font-size: var(--base-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--text-shade-color);
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

aside,
main,
footer,
header {
    border-radius: 1.56vw;
    padding: 1vw 2vw;
}

h3 {
    font-size: var(--m-font-size);
}

.grid-wrapper {
    display: grid;
    grid-template-areas:
        "header header ads2"
        "ads1 main ads2"
        "ads1 footer footer";
    min-height: 100vh;
    grid-template-columns: min(15vw, 600px) 1fr min(15vw, 600px);
    grid-template-rows: min(10vh, 300px) 1fr min(30vh, 500px);
    column-gap: 1vw;
    row-gap: 1vw;
}

header {
    grid-area: header;
    background-color: var(--bg-light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw;
}

header nav ul {
    column-gap: 1.5vw;
}

header .logo {
    display: flex;
    align-items: center;
    column-gap: .52vw;
}

header .logo img {
    width: 3.13vw;
    height: 3.13vw;
}

header .logo h1 {
    display: flex;
}

header .logo span {
    font-size: .5em;
}

main {
    grid-area: main;
    background-color: var(--bg-color);
    min-height: calc(100vh - min(10vh, 300px));
}

footer {
    grid-area: footer;
    background-color: var(--bg-light-color);
}

aside ul {
    flex-direction: column;
    row-gap: 2.6vw;
}

aside {
    padding: 0;
}

aside ul li {
    background-color: var(--bg-light-color);
    padding: .52vw .52vw;
    border-radius: .78vw;
    transition: .2s ease;
    outline: .1vw solid transparent;
}

aside ul li:hover {
    outline: .1vw solid var(--accent-shade-color);
    box-shadow: var(--accent-shade-color) 0 .21vw .83vw 0, inset var(--accent-shade-color) 0 0 .5vw 0;
}

aside ul li:hover a {
    color: var(--text-color);
}

aside ul li h3 {
    margin-bottom: .1vw;
}

aside ul li p {
    font-size: var(--s-font-size);
    color: var(--text-shade-color);
}

#ads1 {
    grid-area: ads1;
}

#ads2 {
    grid-area: ads2;
}

#welcome {
    display: flex;
    justify-content: space-between;
    column-gap: 3vw;
}

#welcome h2 {
    font-size: var(--xl-font-size);
    margin-bottom: 1vw;
}

#welcome p {
    color: var(--text-shade-color);
}

#welcome a {
    background-color: var(--accent-color);
    padding: .52vw 1.52vw;
    border-radius: .78vw;
    margin-top: 4vw;
    display: block;
    width: fit-content;
    transition: .2s ease;
}

#welcome a:hover {
    color: var(--text-color);
    background-color: var(--accent-shade-color);
}